<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.demo.mapper.CommentMapper">
<!--댓글 작성-->
    <insert id="commentUpload">
        INSERT INTO COMMENT (COMMENT_CONTENT, POST_ID, MEMBER_ID)
        VALUES(#{commentContent}, #{postId}, #{memberId})
    </insert>

<!--대댓글 작성-->
    <insert id="replyUpload">
        INSERT INTO COMMENT (COMMENT_CONTENT, COMMENT_DEPTH, PARENT_COMMENT_ID, POST_ID, MEMBER_ID)
        VALUES (#{commentContent}, 1, #{parentCommentId}, #{postId}, #{memberId})
    </insert>
<!--댓 or 대댓글 삭제-->
    <delete id="deleteComment">
        delete from comment where ID = #{id}
    </delete>

<!--댓 or 대댓글 수정 (임시)-->
    <update id="commentEdit" >
        UPDATE comment
        SET
        comment_CONTENT = #{commentContent},
        comment_UPDATED_TIME = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <select id="selectCommentResult" resultType="commentVO">
        SELECT * FROM comment WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="commentVO">
        SELECT RE.ID, RE.COMMENT_CONTENT, RE.COMMENT_DATE, RE.COMMENT_UPDATED_TIME,
        RE.COMMENT_DEPTH, RE.PARENT_COMMENT_ID,
        RE.MEMBER_ID, M.MEMBER_NAME, RE.POST_ID
        FROM COMMENT RE
        JOIN TBL_MEMBER M ON M.ID = RE.MEMBER_ID
        WHERE RE.POST_ID = #{id}
        ORDER BY RE.PARENT_COMMENT_ID ASC, RE.COMMENT_DEPTH ASC, RE.ID ASC
        LIMIT #{pagination.rowCount} OFFSET (#{pagination.page} - 1) * #{pagination.rowCount}
    </select>

    
<!--특정 게시글 전체 댓글 조회-->
    <!-- 댓글 리스트 -->
    <select id="selectPostComment" parameterType="long" resultType="CommentVO">
        SELECT
            c.id,
            c.post_id AS postId,
            c.member_id AS memberId,
            m.member_name AS memberName,
            c.comment_content AS commentContent,
            c.comment_date AS commentDate,
            c.parent_comment_id AS parentCommentId,
            c.comment_depth AS commentDepth
        FROM comment c
                 JOIN tbl_member m ON c.member_id = m.id
        WHERE c.post_id = #{postId}
        ORDER BY c.parent_comment_id ASC, c.comment_date ASC
    </select>

<!--게시글 내 댓글 전체 삭제-->
    <delete id="deleteAll">
        DELETE FROM COMMENT WHERE POST_ID = #{postId}
    </delete>

    <select id="findCommentById" parameterType="Long" resultType="commentVO">
        SELECT ID, POST_ID AS postId, MEMBER_ID AS memberId, COMMENT_CONTENT AS commentContent, comment_date AS commentDate
        FROM comment
        WHERE id = #{id}
    </select>

    <select id="getComListCnt" resultType="int">
        select
            count(*)
        from
            COMMENT
    </select>
</mapper>