<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.demo.mapper.PostMapper">
    <resultMap id="PostMap" type="com.example.board.demo.domain.PostVO">
        <id property="id" column="id"/>
        <result property="postTitle" column="postTitle"/>
        <result property="postContent" column="postContent"/>
        <result property="postDate" column="postDate"/>
        <result property="postUpdateTime" column="postUpdateTime"/>
        <result property="memberId" column="memberId"/>
        <result property="memberName" column="memberName"/>
        <result property="viewCount" column="viewCount"/>
        <result property="commentCount" column="commentCount"/>
    </resultMap>

    <!-- 게시글 작성 -->
    <insert id="postUpload" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO POST (POST_TITLE, POST_CONTENT, MEMBER_ID)
        VALUES (#{postTitle}, #{postContent}, #{memberId})
    </insert>

    <!-- 회원 글 작성 수 -->
    <select id="countUserPost" resultType="int">
        SELECT COUNT(ID) FROM POST WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 전체 글 작성 수 -->
    <select id="countPost" resultType="int">
        SELECT COUNT(ID) FROM POST
    </select>

    <!-- 특정 회원 글 검색 -->
    <select id="selectUserPost" resultType="postVO">
        SELECT
        p.ID AS id,
        p.POST_TITLE AS postTitle,
        p.MEMBER_ID AS memberId,
        m.MEMBER_NAME AS memberName,
        p.POST_DATE AS postDate,
        p.VIEWCOUNT AS viewCount,
        (SELECT COUNT(*) FROM COMMENT c WHERE c.POST_ID = p.ID) AS commentCount
        FROM POST p
        LEFT JOIN MEMBER m ON p.MEMBER_ID = m.ID
        WHERE p.MEMBER_ID = #{memberId}
    </select>

    <!-- 게시글 전체 리스트 -->
    <select id="selectPostList" resultType="postVO">
        SELECT
        p.ID AS id,
        p.POST_TITLE AS postTitle,
        p.MEMBER_ID AS memberId,
        m.MEMBER_NAME AS memberName,
        p.POST_DATE AS postDate,
        p.VIEWCOUNT AS viewCount,
        COALESCE(c.commentCount, 0) AS commentCount
        FROM POST p
        LEFT JOIN TBL_MEMBER m ON p.MEMBER_ID = m.ID
        LEFT JOIN (
        SELECT POST_ID, COUNT(*) AS commentCount
        FROM COMMENT
        GROUP BY POST_ID
        ) c ON p.ID = c.POST_ID
        ORDER BY p.POST_DATE DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 게시글 조회 -->
    <select id="selectPost" resultType="postVO">
        SELECT
        p.ID AS id,
        p.POST_TITLE AS postTitle,
        p.MEMBER_ID AS memberId,
        m.MEMBER_NAME AS memberName,
        p.POST_DATE AS postDate,
        p.POST_UPDATED_TIME AS postUpdatedTime,
        p.VIEWCOUNT AS viewCount,
        p.POST_CONTENT AS postContent
        FROM POST p
        LEFT JOIN TBL_MEMBER m ON p.MEMBER_ID = m.ID
        WHERE p.ID = #{id}
    </select>

    <!-- 글 수정 -->
    <update id="postEdit">
        UPDATE POST
        SET
        POST_TITLE = #{postTitle},
        POST_CONTENT = #{postContent},
        POST_UPDATED_TIME = CURRENT_TIMESTAMP
        WHERE ID = #{id}
    </update>

    <!-- 글 삭제 -->
    <delete id="deletePost">
        DELETE FROM POST WHERE ID = #{id}
    </delete>

    <select id="getCommentsByPostId" parameterType="Long" resultType="com.example.board.demo.domain.CommentVO">
        SELECT *
        FROM COMMENT
        WHERE post_id = #{postId}
    </select>

</mapper>
